<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Patients</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS styles */
    body {
      background-color: #f0f2f5;
      font-family: Arial, sans-serif;
    }
    .container {
      margin-top: 20px;
    }
    .patient-details {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin-bottom: 20px;
    }
    .btn-update {
      margin-top: 10px;
    }
  </style>
</head>
<body>

  <div class="container">
    {% if patients %}  
    <h2 class="text-center mb-4">Patients Details</h2>
	{% for patient in patients %}
    <div class="patient-details">
      <h3>{{ patient.name }}</h3>
      <p><strong>Age:</strong> {{ patient.age }}</p>
      <p><strong>Gender:</strong> {{ patient.gender }}</p>
      <p><strong>Disease:</strong> {{ patient.disease }}</p>
      <p><strong>Image:</strong> <img src="data:image/jpeg;base64,{{ patient.disease_image }}" alt="Disease Image" class="img-fluid"></p>
      <a href="{{ url_for('update_patient', patient_id=patient._id) }}" class="btn btn-primary btn-update">Update Details</a>
    </div>
    {% endfor %}
	{% else %}
	<h1>No patients found.</h1>
	{% endif %}
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
